/* Main container for sections */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Spacing between sections */
    margin-top: 10px;
  }
  
  /* Container for each section to manage layout */
  .section {
    flex: 1;
    min-width: 300px; /* Ensures sections don't get too small */
    background-color: var(--bg-primary-subtle); /* Use a CSS variable or specify color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Responsive adjustment for smaller screens */
  @media (max-width: 700px) {
    .content {
      flex-direction: column;
      align-items: center; /* Center items vertically */
    }
  
    .section {
      max-width: fit-content; /* Ensure sections use full width */
    }
  }
  
  /* Ensure images fit well within their containers */
  .content img {
    max-width: fit-content;
    height: fit-content;
    align-self: center;

    @media (max-width: 1300px) {
        max-width: 80%;
    }
  }
  