:root {
  --primary-color: #cfe2ff; 
  --highlight-color: #F5F5DC;
}


.nav-link {
    background-color: var(--primary-color);
    color: var(--text-color) ;
  }
  
  .nav-link:hover {
    background-color: var(--primary-color);
    font-weight: bold;
  }
  
  .nav-link.active {
    background-color: var(--highlight-color);
  }
  
  .nav-link.active:hover {
    background-color: var(--highlight-color);
  }
  