.main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    @media (max-width: 700px) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap; /* Allows cards to wrap to the next line if needed */
        gap: 20px; /* Adds spacing between cards */
        flex-direction: column;
        margin: 0 auto; /* Centers the content */
        max-width: 2200px;
    }
}