:root {
  --primary-color: #cfe2ff;
  --highlight-color: #f5f5dc;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  object-fit: contain;

  @media (max-width: 700px) {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 2500px;
   
  }
}

.card{
  overflow: hidden;
}

.resize {
  margin-top: 10px;
  width: 20%;
  height: auto;
  @media (max-width: 700px) {
    width: 15%;
  }
}

.links{
  display: flex;
  justify-content: center;
}