:root {
  --primary-color: #cfe2ff;
  --highlight-color: #f5f5dc;
}

/* Content */

h1 {
  color: white !important;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  object-fit: contain;
  
  @media (max-width: 700px) {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 2500px;
  }
}

.card {
  overflow: hidden;
}

.resize {
  margin-top: 10px;
  width: 20%;
  height: auto;
  @media (max-width: 700px) {
    width: 15%;
  }
}

.links {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.links:hover {
  background-color: var(--highlight-color);
  transform: scale(1.1);
  font-size: 18px;
}

/* Typewriter */

.App {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color)
}

/* Footer */

.info {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  gap: 20px;

  a {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 50px;
    transition: transform 0.3s ease;
    padding: 10px;
  }

  img:hover {
    transform: scale(1.5);
  }
}

